<!-- <h1>New Brewery</h1>

<%= render 'form', brewery: @brewery %>

<%= link_to 'Back', breweries_path %> -->


<h1>Brewery Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" id="brewery-sign-up">
    <%= form_for(@brewery, url: new_path) do |f| %>


      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create new brewery", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
