<p id="notice"><%= notice %></p>


<div class="container">
  <div class="jumbotron text-center">
    <h1><%= @brewery.name %></h1>
    <p><%= @brewery.address %></p>
    <p><%= @brewery.description %></p>
    <p>
      <strong id="followers" class="stat">
        <%= @brewery.followers.count %>
      </strong>
      followers
    </p>
  <%= render 'follow_form' if logged_in? %>
  </div>



  <div class="row">
    <div class="well col-md-6">
      <h3>News & Events</h3>
      <% if @brewery.microposts.any? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
    <div class="well text-center col-md-5 col-md-offset-1">
      <h3>Nearby Breweries</h3>
      <ul>
        <% for brewery in @brewery.nearbys(10) %>
          <li><%= link_to brewery.name, brewery %> (<%= brewery.distance.round(2) %> miles)</li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if brewery_logged_in? %>
    <div class="row">
      <aside class="col-md-4">

        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
    </div>



</div>
<% end %>
