<p id="notice"><%= notice %></p>


<div class="container">
  <div class="description page-header text-center">
    <h1><%= @brewery.name %></h1>
    <p><%= @brewery.address %></p>
    <p><%= @brewery.description %></p>
    <p>
      <strong id="followers" class="stat">
        <%= @brewery.followers.count %>
      </strong>
      followers
    </p>
  <% if logged_in? %>
    <%= render 'follow_form' %>
  <% else %>
    <p>Sign up or Log in to follow!</p>
  <% end %>
  </div>



  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">News & Events</h3>
      <% if @brewery.microposts.any? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
    <div class="text-center col-md-5 col-md-offset-1">
      <h3>Nearby Breweries</h3>
      <ul class="list">
        <% for brewery in @brewery.nearbys(10) %>
          <li><%= link_to brewery.name, brewery, class: "brewery" %> (<%= brewery.distance.round(2) %> miles)</li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if brewery_logged_in? %>
    <div class="row">
      <aside class="col-md-4">

        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
    </div>



</div>
<% end %>
