<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @brewery.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @brewery.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @brewery.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brewery.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
